body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.underwater-scene {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #00bfff, #001e3c);
    position: relative;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
    position: relative;
    z-index: 10;
}

.rocks {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.rock {
    width: 300px;
    height: 300px;
    margin-bottom: -30px;
}

.fish {
    position: absolute;
    width: 100px;
    height: auto;
    transition: transform 0.5s ease-in-out;
}
