body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.underwater-scene {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #00bfff, #001e3c);
    position: relative;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
    position: relative;
    z-index: 10;
}

.rocks {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.rock {
    width: 300px;
    height: 300px;
    margin-bottom: -30px;
}

.fish {
    position: absolute;
    width: 80px; /* adjust size */
    height: auto;
    transition: transform 3s ease-in-out; /* smooth movement */
}
.top-nav {
    position: fixed;
    top: 10px;
    right: 40px;
    display: flex;
    gap: 40px;
    z-index: 1000;
}

.top-nav a {
    position: relative;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 30px;

    color: #c6c6c6;
    -webkit-text-stroke: 2px #000;
    text-stroke: 2px #000;

    text-decoration: none; /* remove default underline */
    paint-order: stroke fill;
}

.top-nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px; /* distance from text */
    width: 100%;
    height: 2px; /* thickness of underline */

    background: #c6c6c6; /* white fill */
    
    /* black outline effect */
    box-shadow: 
        0 0 0 0.4px #000;
    
}

.top-nav a:hover {
    opacity: 0.8;
}
